.title {
    font-size: 2rem; 
}

.subtitle {
    font-size: 1rem;
    color: gray;
    opacity: 0.3;
}

.partition {
    font-size: 0.9rem;
    color: black;
}

.terms {
    font-size: 0.75rem;
    color: gray; 
}