body {
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.navbar-top {
    background-color: black;
}

main {
    height: 50rem;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-size: 16px;
    font-weight: 400;
}

footer {
    background-color: black; 
}